

.stMainBlockContainer{
    font: blue;
}
.st-emotion-cache-1104ytp.e1icttdg0
{
    font-family: 'Comic Sans MS';
    
    border-bottom: 10px black;
    font-size: 15px;
}

.stAppViewContainer.appview-container {
    background-color: #21BFFA;
}
.stElementContainer{
    text-transform:capitalize;
   
}

.st-emotion-cache-0{
background-color:white;
border-radius: 4rem;



}

.stImage 
{
    margin-left: 280px;
    height: 60px;
    width: 100px;
}
.stChatMessage.st-emotion-cache-1c7y2kd.ea2tk8x0
{
    background-color:white;
}

.st-emotion-cache-1ghhuty.ea2tk8x3
{
    height: 5rem;
    width: 5rem;
}
.stMainBlockContainer{
    background-color: #D73E0F;
    margin-top: 40px;
    border-radius: 4rem;
    border-top: 4rem;
    height: 1000px;

}
.st-emotion-cache-p4micv 
{
    height: 5rem;
    width: 5rem;
}

.st-emotion-cache-128upt6
{
    background-color: #0F1EFA;
    
}

.stAppHeader.st-emotion-cache-12fmjuu.e4hpqof0
{
    background-color: #0F1EFA;
    display: none;
   
}